@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Mencegah scrollbar horizontal */
  height: 100%;
  width: 100%;
}

.footer {
  background: #2c3e50;
  color: white;
  width: 100%;
  padding: 10px 20px;
  text-align: center;
  margin-top: auto;
}

.footer-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer-links a {
  color: white;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}
