/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #ecf0f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #2c3e50;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3498db;
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #2c3e50 #ecf0f1;
}
