@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Mencegah scrollbar horizontal */
  overflow-y: auto;
  scrollbar-width: thin;
  height: 100%;
  width: 100%;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #ecf0f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #2c3e50;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3498db;
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #2c3e50 #ecf0f1;
}

/* General Page Styling */
.page-profile {
  font-family: "Poppins", sans-serif;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: fadeInPage 1.5s ease-in-out;
}

/* Profile Container */
.profile-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background: linear-gradient(135deg, #3498db, #2c3e50);;
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}
